.b{
     border: 2px solid red;
}
.world-is-back{
     /* width: 511.97px; */
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #012E41;
}
.discover{
     width: 144.34px;
height: 70px;
background: #FA7335;
border: 1px solid #FA7335;
border-radius: 4px;
margin-left: 30px;
}